name: Module 5 CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: Test Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm install

      - name: Run Tests (npm run check) and Save Output
        run: |
          npm run check > test-results.txt
          echo "Test output saved into test-results.txt"

      - name: Upload Test Results Artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results.txt


  deploy:
    name: Deploy Job
    needs: test
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Test Results Artifact
        uses: actions/download-artifact@v4
        with:
          name: test-results

      - name: Display Test Results Artifact
        run: |
          echo "========== TEST RESULTS =========="
          cat test-results.txt
          echo "=================================="

      - name: Install Dependencies
        run: npm install

      - name: Deploy Application using PM2
        run: |
          echo "Starting Deployment..."

          pm2 delete node-app || true

          pm2 start "./src/server.js" --name node-app

          pm2 save

          echo "Deployment Completed Successfully!"
